{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'data.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
<div class="result-navbar">
    <div class="result-container">
        <h2 class="header">{{keyword}}에 대한 검색 결과입니다.</h2>
    </div>
</div>

<div class="container">
    <!--패션지수-->
    <h2 class="main-title">패션지수</h2>
    <!--입기 좋은 달 추천-->
    <div class="month_data">
        <div class="month_box col-sm-3 text-center">
            <span class="iconWrapper"><i class="far fa-calendar-alt fa-lg"></i></span>{{month_1}}월
        </div>
        <div class="month_box col-sm-3 text-center"><span class="iconWrapper"><i class="far fa-calendar-alt fa-lg"></i></span>{{month_2}}월
        </div>
        <div class="month_box col-sm-3 text-center"><span class="iconWrapper"><i class="far fa-calendar-alt fa-lg"></i></span>{{month_3}}월
        </div>
    </div>

    <!--패션지수 그래프-->
    <div class="row">
        <div class="col-md-11 month_graph">
            <div class="chart">
                <canvas id="FashionChart" height="100vh" aria-label="Site statistics" role="img"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <h2 class="main-title">감성어 분석</h2>
        <div class="container">
            <div class="col-md-11 d3_graph" aria-label="Site statistics">
                <!--d3 상세정보 버튼-->
                <div class="d3_detail_box" align="right">
                    <div><a href="javascript:doDisplay();"><i class="fas fa-ellipsis-h"></i></a></div>
                    <div class="d3_data" id="test_div">
                        <div id="d3_box">
                            <table>
                                <thead>
                                <tr>
                                    <th>랭킹</th>
                                    <th>감성어</th>
                                    <th>언급량</th>
                                    <th>분류</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if sent_list %}
                                {% for sent in sent_list %}
                                <tr class="text-center">
                                    <td>{{ sent.id }}위</td>
                                    <td class="text-center">
                                        {{ sent.word }}
                                    </td>
                                    <td>{{ sent.value}}</td>
                                    <td>
                                        {{ sent.group }}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- d3 그래프 삽입 부분-->
                <div class="d3"></div>
                <div class="col-md-8 text-center" style="margin:0 auto;">
                    <div class="three_box">
                        <div class="column box_cell" id="positive"><i class="far fa-smile-beam"></i> 긍정 {{positive_value}}%</div>
                        <div class="column box_cell" id="neutral"><i class="far fa-meh-blank"></i> 중립 {{neutral_value}}%</div>
                        <div class="column box_cell" id="negative"><i class="far fa-frown-open"></i> 부정 {{negative_value}}%</div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!--원분보기-->

<div class="container">
    <h2 class="main-title">원문보기</h2>
    <div class="row">
        <div class="col-md-12">
            <section class="wrapper">
                <ul class="tabs" style="background-color:#6796dc;">
                    <li class="active">무신사</li>
                    <li>서울스토어</li>
                    <li>SSF</li>
                </ul>
                <ul class="tab__content">
                    <li class="active">
                        <div class="content__wrapper">
                            <!-- 내용 들어가는 부분 -->
                            <div style="height: 300px; overflow: auto">
                                {% for review_list in musinsa_review_list %}
                                <div style="height:100px;">
                                    <hr>
                                    <h3>{{ review_list.review }} </h3>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content__wrapper">
                            <!-- 내용 들어가는 부분 -->
                            <div style="height: 300px; overflow: auto">
                                {% for review_list in seoulstore_review_list %}
                                <div style="height:100px;">
                                    <hr>
                                    <h3>{{ review_list.review }} </h3>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content__wrapper">
                            <!-- 내용 들어가는 부분 -->
                            <div style="height: 300px; overflow: auto">
                                {% for review_list in ssf_review_list %}
                                <div style="height:100px;">
                                    <hr>
                                    <h3>{{ review_list.review }} </h3>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
</body>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript">
    var context = document
      .getElementById('FashionChart')
      .getContext('2d');
    var myChart = new Chart(context, {
      type: 'line', // 차트의 형태
      data: { // 차트에 들어갈 데이터
        labels: [
          //x 축
          '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'
        ],
        datasets: [
          { //데이터
            fill: true, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
            data: [ //x축 label에 대응되는 데이터 값
              {{ Jan }}, {{ Feb }}, {{ Mar }}, {{ Apr }},{{ May }}, {{ June }}, {{ July }}, {{ Aug }},{{ Sep }}, {{ Oct }}, {{ Nov }}, {{ Dec }}
            ],
            backgroundColor: [
              //색상
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              //경계선 색상
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2 //경계선 굵기
          }
        ]
      },
      options: {
        resonsive: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                display: false
              },
              gridLines: {
                drawOnChartArea: false
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                fontSize: 20
              },
              gridLines: {
                drawOnChartArea: false
              }
            }
          ]
        },
        legend: {
          display: false
        },
      }
    });

</script>

<!--d3 그래프-->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
        var graph = {
            "nodes": [
            {% if sent_list %}
            {% for sent in sent_list %}
                { "name": "{{sent.word}}", "value": {{sent.value}}, "group": "{{sent.group}}" },
                // name: 감성어, value: 감성어의 빈도수, group: 긍정/중립/부정 분류
            {% endfor %}
            {% endif %}
            ],
        };
        var width = 940,
            height = 490;

        var force = d3.layout.force()
            .charge(-600)
            .size([width, height]);

        var svg = d3.select("div.d3").append("svg")
            .attr("width", width)
            .attr("height", height);

        force
            .nodes(graph.nodes)
            .start();

        var node = svg.selectAll(".node")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("class", "node")
            .attr("r", function (d) { return d.value * 2})
            .style("fill", function (d) {
                if(d.group == "긍정") // 긍정에 대한 색깔
                    return 'rgb(103, 150, 220)';
                else if(d.group == "중립") // 중립에 대한 색깔
                    return 'rgb(151,202,115)';
                else if(d.group == "부정") // 부정에 대한 색깔
                    return 'rgb(252,107,118)';
            })
            .call(force.drag);

        var texts = svg.selectAll("text.label")
            .data(graph.nodes)
            .enter().append("text")
            .attr("class", "label")
            .attr("fill", "white")
            .attr("text-anchor", "middle")
            .attr("font-size", function(d) { return d.value })
            .text(function (d) { return d.name; });

        force.on("tick", function () {

            node.attr("cx", function (d) { return d.x; })
                .attr("cy", function (d) { return d.y; });

            texts.attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
            });
        });
</script>

<script>
	$(document).ready(function () {
	// Variables
	var clickedTab = $(".tabs > .active");
	var tabWrapper = $(".tab__content");
	var activeTab = tabWrapper.find(".active");
	var activeTabHeight = activeTab.outerHeight();

	// Show tab on page load
	activeTab.show();

	// Set height of wrapper on page load
	tabWrapper.height(activeTabHeight);

	$(".tabs > li").on("click", function () {
		// Remove class from active tab
		$(".tabs > li").removeClass("active");

		// Add class active to clicked tab
		$(this).addClass("active");

		// Update clickedTab variable
		clickedTab = $(".tabs .active");

		// fade out active tab
		activeTab.fadeOut(250, function () {
			// Remove active class all tabs
			$(".tab__content > li").removeClass("active");

			// Get index of clicked tab
			var clickedTabIndex = clickedTab.index();

			// Add class active to corresponding tab
			$(".tab__content > li").eq(clickedTabIndex).addClass("active");

			// update new active tab
			activeTab = $(".tab__content > .active");

			// Update variable
			activeTabHeight = activeTab.outerHeight();

			// Animate height of wrapper to new tab height
			tabWrapper
				.stop()
				.delay(50)
				.animate(
					{
						height: activeTabHeight
					},
					500,
					function () {
						// Fade in active tab
						activeTab.delay(50).fadeIn(250);
					}
				);
		});
	});
});

</script>

<script type='text/javascript'>
$(document).ready(function(){
    $("#submit").on('click', function() {
        $("#searchForm").val($(".kw").val());
        $("#searchForm").submit();
    });
});

</script>

<script>
    var bDisplay=true;
    function doDisplay(){
        var con=document.getElementById("test_div");
        if(con.style.display=='none'){
            con.style.display='block';
        }
        else{
            con.style.display='none';
        }
    }

</script>
{% endblock %}