{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ! Main 시작 부분 -->
<main class="main users chart-page" id="skip-target">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <SELECT onchange="Show_hidden(this.value);">
                    <option value="1">아우터 선택</option>
                    <option value="2">원피스 선택</option>
                    <option value="3">티셔츠 선택</option>
                    <option value="4">신발 선택</option>
                    <option value="5">코트 선택</option>
                </SELECT>

                <h2 id="test_1" style="display:block;">아우터 종합 랭킹 TOP 10</h2>
                <h2 id="test_2" style="display:none;">원피스 종합 랭킹 TOP 10</h2>
                <h2 id="test_3" style="display:none;">티셔츠 종합 랭킹 TOP 10</h2>
                <h2 id="test_4" style="display:none;">신발 종합 랭킹 TOP 10</h2>
                <h2 id="test_5" style="display:none;">코트 종합 랭킹 TOP 10</h2>

                <div id="t_1" style="display: block;" class="container">
                    <hr>
                    <div class="row">
                        <div class="col-lg-1">
                            <h2>1</h2>
                        </div>
                        <div class="col-lg-3">
                            <img src="{% static 'assets/1.jpg' %}" width="100%" height="100%"/>
                        </div>
                        <div class="col-lg-2">
                            <h2>청자켓</h2>
                            <br><br><br><br><br><br><br><br>
                            <h2>랭킹 점수 : 92</h2>
                        </div>
                    </div>
                    <hr>
                </div>

                <div id="t_2" style="display: none;" class="container">
                    <hr>
                    <div class="row">
                        <div class="col-lg-1">
                            <h2>1</h2>
                        </div>
                        <div class="col-lg-3">
                            <img src="{% static 'assets/2.jpg' %}" width="100%" height="100%"/>
                        </div>
                        <div class="col-lg-2">
                            <h2>미니원피스</h2>
                            <br><br><br><br><br><br><br><br>
                            <h2>랭킹 점수 : 88</h2>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ! Main 끝 부분 -->
{% endblock %}

{% block script %}
<script language="JavaScript">
    function Show_hidden(e) {
      var menu_1 = new Array("test_1", "test_2", "test_3", "test_4", "test_5"); // 객체 배열로 지정
      var menu_2 = new Array("t_1", "t_2", "t_3", "t_4", "t_5"); // 객체 배열로 지정
      for (var i = 0; i < menu_1.length; i++) {
        if ("test_" + e == menu_1[i]) {
          document.all[menu_1[i]].style.display = "block";
        } else {
          document.all[menu_1[i]].style.display = "none";
        }
      }
      for (var i = 0; i < menu_2.length; i++) {
        if ("t_" + e == menu_2[i]) {
          document.all[menu_2[i]].style.display = "block";
        } else {
          document.all[menu_2[i]].style.display = "none";
        }
      }
    }
  </script>

{% endblock %}