{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'ranking.css' %}">
    <link href="//db.onlinewebfonts.com/c/162bea5982a433fdc612cb3a93d902f9?family=Godo+B" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<!-- ! Main 시작 부분 -->
<body>
<!--상단 nav-->
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'index:search'%}">꿀트렌드</a>
        </div>
        <div class="nav_menu">
            <a href="{% url 'index:ranking'%}">랭킹</a>
        </div>
        <!--검색창-->
        <form id="searchForm" method="get" action="{% url 'index:data' %}">
            <input type="text" id="kw" name="kw" autocomplete="off" placeholder="옷 종류를 입력하세요."
                   style="background-color:white;"/>
            <ul class="output" style="display:none;">
            </ul>
            <button type="submit" id="submit" style="background-color:transparent;"><i class="fa fa-search"
                                                                                       style="color : white;"></i>
            </button>
        </form>
    </div>
</nav>

<main class="main users chart-page" id="skip-target">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <SELECT onchange="Show_hidden(this.value);">
                    <option value="1">소분류</option>
                    <option value="2">코트</option>
                    <option value="3">패딩</option>
                </SELECT>

                <h2 class="title" id="test_1" style="display:block;">상의 종합 랭킹 TOP 10</h2>
                <h2 class="title" id="test_2" style="display:none;">하의 종합 랭킹 TOP 10</h2>

                <!--랭킹-->
                <div style="display: block;" class="container">
                    {% for ranking in ranking_list %}
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="td_1">
                                <h2>{{ forloop.counter }}</h2>
                            </td>

                            <td class="td_2">
                                <img src="{{ranking.ranking_img.url}}" width="100%" height="100%"/>
                            </td>

                            <td class="td_3">
                                <h2>{{ranking.ranking_name}}</h2>
                            </td>

                            <td class="td_4">
                                <h2>랭킹 점수 : {{ranking.ranking_score}}</h2>
                            </td>
                        </tr>

                        <tr>
                            <td class="td_1">
                                <h2>1</h2>
                            </td>
                            <td class="td_2">
                                <img src="{% static 'assets/2.jpg' %}" width="100%" height="100%"/>
                            </td>
                            <td class="td_3">
                                <h2>미니원피스</h2>
                            </td>
                            <td class="td_4">
                                <h2>랭킹 점수 : 88</h2>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_1">
                                <h2>1</h2>
                            </td>
                            <td class="td_2">
                                <img src="{% static 'assets/2.jpg' %}" width="100%" height="100%"/>
                            </td>
                            <td class="td_3">
                                <h2>미니원피스</h2>
                            </td>
                            <td class="td_4">
                                <h2>랭킹 점수 : 88</h2>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_1">
                                <h2>1</h2>
                            </td>
                            <td class="td_2">
                                <img src="{% static 'assets/2.jpg' %}" width="100%" height="100%"/>
                            </td>
                            <td class="td_3">
                                <h2>미니원피스</h2>
                            </td>
                            <td class="td_4">
                                <h2>랭킹 점수 : 88</h2>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer_box">
        <p class="footer_header">꿀트렌드</p>
        <p>Copyrightⓒ 2021. 아기돼지삼형제. All rights reserved.</p>
    </div>
</footer>
</body>

<!-- ! Main 끝 부분 -->

{% endblock %}

{% block script %}
<script language="JavaScript">
    function Show_hidden(e) {
      var menu_1 = new Array("test_1", "test_2", "test_3", "test_4", "test_5"); // 객체 배열로 지정
      var menu_2 = new Array("t_1", "t_2", "t_3", "t_4", "t_5"); // 객체 배열로 지정
      for (var i = 0; i < menu_1.length; i++) {
        if ("test_" + e == menu_1[i]) {
          document.all[menu_1[i]].style.display = "block";
        } else {
          document.all[menu_1[i]].style.display = "none";
        }
      }
      for (var i = 0; i < menu_2.length; i++) {
        if ("t_" + e == menu_2[i]) {
          document.all[menu_2[i]].style.display = "block";
        } else {
          document.all[menu_2[i]].style.display = "none";
        }
      }
    }






</script>

{% endblock %}