{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'ranking.css' %}">
    <link href="//db.onlinewebfonts.com/c/162bea5982a433fdc612cb3a93d902f9?family=Godo+B" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<!-- ! Main 시작 부분 -->
<body>
<div class="result-navbar">
    <div class="result-container">
        <h2 class="header">Fashion Ranking</h2>
    </div>
</div>
<div class="row1">
    <div class="col-md-8 text-center" style="margin: 0 auto;">
        <div class="box service-box">

            <h2 class="title">랭킹 점수</h2>
            <div class="rank_graph">
                <p class="rank_detail"><strong>랭킹 점수</strong>는 쇼핑몰 사이트의 좋아요 개수와 계절 점수를 통해 데이터 수집 일자 기준으로<br>
                    사람들에게 가장 주목받는 의류 품목을 랭킹 순으로 보여줍니다.
                </p>
                <div style="text-align:center;"><img src="media/formula.png"></div>

            </div>
        </div>
    </div>

    <div class="row2">
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <div class="row3" style="margin:0 auto;">
            <div class="star"><i class="fa fa-3x fa-thumbs-o-up wow bounceIn text-primary"
                                 style="visibility: visible; animation-name: bounceIn;"></i></div>
                    <div class="rank_title" style="margin:0 auto;">
                        <div style="align-items:center;">
                            <!--랭킹 타이틀-->
                            <h2 class="title" id="test_1" style="display:block;">상의 종합 랭킹 TOP 10</h2>
                            <h2 class="title" id="test_2" style="display:none;">하의 종합 랭킹 TOP 10</h2>
                            <h2 class="title" id="test_3" style="display:none;">패딩 종합 랭킹 TOP 10</h2>
                        </div>

                        <div style="right:0; bottom:0; margin-bottom:60px; ">
                            <!--옵션 선택-->
                            <SELECT class="rank_option" onchange="Show_hidden(this.value);">
                                <option value="1">소분류</option>
                                <option value="2">코트</option>
                                <option value="3">패딩</option>

                            </SELECT>
                        </div>

                    </div>

                    <!--랭킹-->
                    <div class="col-13">
                        <div class="container rank_graph">
                            {% for ranking in ranking_list %}
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="td_1 col-13">
                                        <h2>{{ forloop.counter }}</h2>
                                    </td>
                                    <td class="td_2">
                                        <img src="{{ranking.ranking_img.url}}" width="100%" height="100%"/>
                                    </td>
                                    <td class="td_3">
                                        <h2>{{ranking.ranking_name}}</h2>
                                    </td>
                                    <td class="td_4">
                                        <h2>랭킹 점수  {{ranking.ranking_score}}</h2>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td_1">
                                        <h2>2</h2>
                                    </td>
                                    <td class="td_2">
                                        <img src="{% static 'assets/2.jpg' %}" width="100%" height="100%"/>
                                    </td>
                                    <td class="td_3">
                                        <h2>미니원피스</h2>
                                    </td>
                                    <td class="td_4">
                                        <h2>랭킹 점수  88</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_1">
                                        <h2>3</h2>
                                    </td>
                                    <td class="td_2">
                                        <img src="{% static 'assets/2.jpg' %}" width="100%" height="100%"/>
                                    </td>
                                    <td class="td_3">
                                        <h2>미니원피스</h2>
                                    </td>
                                    <td class="td_4">
                                        <h2>랭킹 점수  88</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_1">
                                        <h2>4</h2>
                                    </td>
                                    <td class="td_2">
                                        <img src="{% static 'assets/2.jpg' %}" width="100%" height="100%"/>
                                    </td>
                                    <td class="td_3">
                                        <h2>미니원피스</h2>
                                    </td>
                                    <td class="td_4">
                                        <h2>랭킹 점수  88</h2>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
</main>

</body>

<!-- ! Main 끝 부분 -->

{% endblock %}

{% block script %}
<script language="JavaScript">
    function Show_hidden(e) {
      var menu_1 = new Array("test_1", "test_2", "test_3", "test_4", "test_5"); // 객체 배열로 지정
      var menu_2 = new Array("t_1", "t_2", "t_3", "t_4", "t_5"); // 객체 배열로 지정
      for (var i = 0; i < menu_1.length; i++) {
        if ("test_" + e == menu_1[i]) {
          document.all[menu_1[i]].style.display = "block";
        } else {
          document.all[menu_1[i]].style.display = "none";
        }
      }
      for (var i = 0; i < menu_2.length; i++) {
        if ("t_" + e == menu_2[i]) {
          document.all[menu_2[i]].style.display = "block";
        } else {
          document.all[menu_2[i]].style.display = "none";
        }
      }
    }









</script>
{% endblock %}