body{ background-color: #F3F3F3;}

@font-face{
 font-family : 'Godo';
 font-style : normal;
 src : url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

.navbar{
  min-height: 70px;
  background-color : black;
  color : white;
  border: none;
  box-shadow: 0 .15rem 1.75rem 0 rgba(33,40,50,.15)
}

.nav_menu{
  align-items: center;
  display: flex;
  float : left;
}

#searchForm{
 float: right;
  padding-top : 15px;
}

.navbar-header{
  align-items: center;
  display: flex;
  float : left;
}

a{
  padding: 30px 39px;
}

hr{
  margin: 20px 0px 20px 0px;
  border-top: 1px solid #666;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.title{
  font-size: 25px;
  font-family: "Godo", sans-serif;
  color: rgb(50, 50, 50);
  text-align: center;
}