body{ background-color: #F3F3F3;}

@font-face{
 font-family : 'Godo';
 font-style : normal;
 src : url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

.navbar{
  min-height: 70px;
  background-color : black;
  color : white;
  border: none;
  box-shadow: 0 .15rem 1.75rem 0 rgba(33,40,50,.15)
}

.nav_menu{
  align-items: center;
  display: flex;
  float : left;
}

#searchForm{
 float: right;
  padding-top : 15px;
}

.navbar-header{
  align-items: center;
  display: flex;
  float : left;
}

.result-navbar{
  background-color : white;
  -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  padding: 0;
  height: 4.57rem;
}

.result-container{
  margin-top: 25px;
  position : absolute;
  margin-left : 10%;
}

a{
  padding: 30px 39px;
}



.star{
  padding:30px 0 10px 0;
  margin:0 auto;
}
.title{
  font-size: 35px;
  margin: 60px 0 15px 0;
  font-family: "Godo", sans-serif;
  color: rgb(50, 50, 50);
  text-align: center;
}


.row1 {
 width:70%;
margin: 0 auto;
}

.row2{
 width:80%;
margin: 0 auto;
}
.rank_option{
 float:right;
}

.rank_detail{
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.rank_graph{
  padding-top: 80px;
  background-color: white;
  border-radius : 15px 15px 15px 15px;
  margin : 0 auto;
  box-shadow: 0 .15rem 1.75rem 0 rgba(33,40,50,.15)
}


.table{
  border-spacing: 0px;
  font-size: 1rem;
  margin : 0 auto;
  padding-top:10px;
  width:100%
  border-radius: 15px 15px 15px 15px;
}

tr{
   background-color: rgb(255, 255, 255);
}

.td_1{
    min-width: 5rem;
    max-width: 20rem;
    padding: 0.5rem 2.5rem 0.5rem 2rem;
    box-sizing: border-box;
    word-break: break-all;
    text-align: left;
    border-right: 0.1rem solid rgb(241, 241, 241);
    width: 5rem;
    border-top: 0.1rem solid rgb(231, 231, 231);
    left: 0rem;
    z-index: 1;
}

.td_2{
    min-width: 20rem;
    max-width: 20rem;
    height: 15rem;
    padding: 0.5rem 2.5rem 0.5rem 2rem;
    box-sizing: border-box;
    word-break: break-all;
    text-align: left;
    border-right: 0.1rem solid rgb(241, 241, 241);
    width: 20rem;
    border-top: 0.1rem solid rgb(231, 231, 231);
    left: 0rem;
    z-index: 1;
}

.td_3{
    min-width: 15rem;
    max-width: 20rem;
    height: 15rem;
    padding: 0.5rem 2.5rem 0.5rem 2rem;
    box-sizing: border-box;
    word-break: break-all;
    text-align: left;
    border-right: 0.1rem solid rgb(241, 241, 241);
    width: 15rem;
    border-top: 0.1rem solid rgb(231, 231, 231);
    left: 0rem;
    z-index: 1;
}

.td_4{
    min-width: 20rem;
    max-width: 20rem;
    height: 15rem;
    padding: 0.5rem 2.5rem 0.5rem 2rem;
    box-sizing: border-box;
    word-break: break-all;
    text-align: left;
    border-right: 0.1rem solid rgb(241, 241, 241);
    width: 20rem;
    border-top: 0.1rem solid rgb(231, 231, 231);
    left: 0rem;
    z-index: 1;

}

.footer_box{
  margin:0 auto; text-align:center;
  width:100%;
  height:auto;
  background:black;
  color: white;
  padding: 1.1em 0;

}

.footer_header{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1em;
}

