<!DOCTYPE html>
<html lang="kr">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'original_review.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}

{% endblock %}
{% include 'footer.html' %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% block script %}

{% endblock %}
</html>